#toolbar {
  position: relative;
  min-width: 250px;
  border: 1px solid #707070;
  font-size: calc(10px + 0.5vmin);
  color: #E2E2E2;
  padding: 20px 20px;
  overflow: hidden;
  overflow-y: scroll;
}

.divider {
  border-top: 1px solid #707070;
  border-bottom: none;
  margin: 30px auto;
}
