#abc-editor {
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    border-width: 1px 0px 1px 1px;
}

label {
    display: block;
    font-size: calc(10px + 0.5vmin);
    padding: 10px;
}

textarea {
    background-color: #222;
    color: #eee;
}