#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#spin {
  transform: rotate(-90deg);
  transform-origin: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
